@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model  GoodCoffeeShop.ViewModels.CoffeeShop.ItemDetailsViewModel

<h2>PLEASE SEE YOUR ITEM DETAILS BELOW</h2>

<p>Name: @Model.ItemToShow.Name</p>
<p>Description: @Model.ItemToShow.Description</p>
<p>Price: @Model.ItemToShow.Price</p>
<p>Quantity: @Model.ItemToShow.Quantity</p>