@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GoodCoffeeShop.Models.CoffeeShop.AddUserFormViewModel
<link rel="stylesheet" href ="~/css/StyleSheet.css" type="text/css" />

<form asp-controller="CoffeeShop" asp-action="FormResult" method="post">

    <div class="alert alert-info" role="alert">
        NOTE: You may only submit for registration if following conditions are met.

        <ul>
            <li>Name may have letters only.</li>
            <li>Email address must be valid (i.e. contenthere@domain.[org, com, net, etc]).</li>
            <li>Password must match password confirmation.</li>
            <li>Phone number must only contain numbers, 10 digits including area code.</li>
            <li>No fields may be empty</li>
        </ul>
    </div>

    <br />

    <h3>NAME</h3>
    <fieldset>
        <label asp-for="FirstName">First Name</label>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Mr.</a>
                    <a class="dropdown-item" href="#">Mrs.</a>
                    <a class="dropdown-item" href="#">Ms.</a>
                    <a class="dropdown-item" href="#">Dr.</a>
                </div>
            </div>
            <input asp-for="FirstName" />
        </div>

        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" />
    </fieldset>
    <br />

    <h3>CONTACT INFORMATION</h3>
    <fieldset>
        <div>
            <label asp-for="Email">Email Address</label>
            <input asp-for="Email" />
        </div>

        <div>
            <label asp-for="PhoneNum">Phone Number</label>
            <input asp-for="PhoneNum" />
        </div>
        <br />
        <div>
            <label>Type of Phone Number: </label><span></span>

            <label class="form-check-inline">
                <input type="checkbox" class="form-check-input">
                Mobile
            </label>

            <label class="form-check-inline">
                <input type="checkbox" class="form-check-input">
                Work
            </label>

            <label class="form-check-inline">
                <input type="checkbox" class="form-check-input">
                Home
            </label>

        </div>
    </fieldset>
    <br />

    <h3>AUTHENTICATION</h3>
    <fieldset>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
        </div>

        <div>
            <label asp-for="PasswordConfirmation">Please re-type password here to confirm</label>
            <input asp-for="PasswordConfirmation" />
        </div>
    </fieldset>

    <br />
    <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">I am not a robot.</label>
    </div>
    <br />

    <button class="btn btn-dark">Register</button>

</form>